<style>
    body {
        text-align: center;
        padding: 40px 0;
        background-color: #F5F5F5;
        font-family: "Helvetica Neue", sans-serif;
    }

    h1 {
        color: #00A0B0;
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 20px;
    }

    p {
        color: #333333;
        font-size: 18px;
        margin: 0 0 20px;
    }

    b {
        font-weight: bold;
    }

    i {
        color: #3F8F85;
        font-size: 72px;
        line-height: 99px;
        margin-left: -5px;
    }

    .card {
        max-width: 500px;
        margin: 0 auto;
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        padding: 40px;
    }

    .btn {
        display: inline-block;
        background-color:#088178;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 30px;
        border: none;
        margin-right: 10px;
        transition: all 0.3s ease;
    }

    .btn:hover {
        background-color: #088178;
    }
</style>
</head>
<body>
<div class="card">
    <div style="border-radius:200px; height:94px; width:99px; background-color: #F8FAF5; margin: 0 auto 20px;">
        <i class="checkmark">✓</i>
    </div>
    <h1>Order Confirmed!</h1>
    <p><b>Hello,</b></p>
    <p>We have received your purchase request and will be in touch shortly.</p>
    <p><b>Your Order ID:</b></p>
   
</div>
<div>
    <a href="/" class="btn btn-primary btn-sm">Back to Shop</a>

    <a href="" class="btn btn-primary btn-sm">View Orders</a>
</div>
</body>
</html>