<style>
    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group select,
    .form-group textarea {
        width: 100%;
        max-width: 350px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }


    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
</style>
<div class="container text-center">



    <form method="post">
        <div class="form-group">
            <input type="text" required="" name="fname" placeholder="First name *">
        </div>
        <div class="form-group">
            <input type="text" required="" name="lname" placeholder="Last name *">
        </div>
        <div class="form-group">
            <input required="" type="text" name="cname" placeholder="Company Name">
        </div>
        <!-- <div class="form-group">
        <div class="custom_select">
            <select class="form-control select-active">
                <option value="">Select an option...</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
        </div>
    </div> -->
        <div class="form-group">
            <input type="text" name="billing_address" required="" placeholder="Address *">
        </div>
        <div class="form-group">
            <input type="text" name="billing_address2" required="" placeholder="Address line2">
        </div>
        <div class="form-group">
            <input required="" type="text" name="city" placeholder="City / Town *">
        </div>
        <div class="form-group">
            <input required="" type="text" name="state" placeholder="State / County *">
        </div>
        <div class="form-group">
            <input required="" type="text" name="zipcode" placeholder="Postcode / ZIP *">
        </div>
        <div class="form-group">
            <input required="" type="text" name="phone" placeholder="Phone *">
        </div>
        <div class="form-group">
            <input required="" type="text" name="email" placeholder="Email address *">
        </div>

        <div id="collapsePassword" class="form-group create-account collapse in">
            <input required="" type="password" placeholder="Password" name="password">
        </div>
        <!-- <div class="ship_detail">
        <div class="form-group">
            <div class="chek-form">
                <div class="custome-checkbox">
                    <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress">
                    <label class="form-check-label label_info" data-bs-toggle="collapse" data-target="#collapseAddress" href="#collapseAddress" aria-controls="collapseAddress" for="differentaddress"><span>Ship to a different address?</span></label>
                </div>
            </div>
        </div>
        <div id="collapseAddress" class="different_address collapse in">
            <div class="form-group">
                <input type="text" required="" name="fname" placeholder="First name *">
            </div>
            <div class="form-group">
                <input type="text" required="" name="lname" placeholder="Last name *">
            </div>
            <div class="form-group">
                <input required="" type="text" name="cname" placeholder="Company Name">
            </div>
            <div class="form-group">
                <div class="custom_select">
                    <select class="form-control select-active">
                        <option value="">Select an option...</option>
                        <option value="AX">Aland Islands</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="billing_address" required="" placeholder="Address *">
            </div>
            <div class="form-group">
                <input type="text" name="billing_address2" required="" placeholder="Address line2">
            </div>
            <div class="form-group">
                <input required="" type="text" name="city" placeholder="City / Town *">
            </div>
            <div class="form-group">
                <input required="" type="text" name="state" placeholder="State / County *">
            </div>
            <div class="form-group">
                <input required="" type="text" name="zipcode" placeholder="Postcode / ZIP *">
            </div>
        </div>
    </div> -->
        <!-- <div class="mb-20">
        <h5>Additional information</h5>
    </div>
    <div class="form-group mb-30">
        <textarea rows="5" placeholder="Order notes"></textarea>
    </div> -->
    </form>
</div>